{% extends 'SDLabSmartUtilsBundle::base.html.twig' %}

{% block body %}

<h2>Tests sdlab-smart-utils Bundle</h2>

<a href="{{ path('cascadeselect-base') }}" class="btn btn-default">Base</a>
<a href="{{ path('cascadeselect-multiple') }}" class="btn btn-default">Multiple</a>
<a href="{{ path('cascadeselect-entity') }}" class="btn btn-default">Entity</a>
<a href="{{ path('cascadeselect-group') }}" class="btn btn-default">Group</a>
<a href="{{ path('cascadeselect-select2') }}" class="btn btn-default">Select2</a>
<a href="{{ path('cascadeselect-entity-select2') }}" class="btn btn-default">Entity & Select2</a>

{% endblock body %}